<%-include("partials/header.ejs")%>
<h3 class="center-align">Payments Page</div>
<div class="container my-5">
    <div class="card hoverable">
        <div class="card-content">
            <table class="highlight">
                <thead class="grey darken-4 blue-text text-lighten-5">
                  <tr>
                    <th scope="col"><h6>No.</h6></th>
                    <th scope="col"><h6>Product Name</h6></th>
                    <th scope="col"><h6>Price</h6></th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0;i<products.length;i++){%>
                    <tr>
                        <th scope="row"><h6><%=i+1%></h6></th>
                        <td class="product-name"><h6><%=products[i].item%></h6></td>
                        <td><h6>$ <span class="price"><%=products[i].price%></span></h6></td>
                    </tr>
                  <%}%>
                </tbody>
              </table>
        </div>
        <div class="card-action">
            <h5>Total Checkout Price: <span id="price"></span></h5>
        </div>
    </div>
</div>
<div class="row my-5 mx-5">
    <div class="col s12 m4">
        <ul class="collection with-header">
            <li class="collection-header"><h5>Payment Mode</h5></li>
            <li class="collection-item active" id="cash"><h5>Cash</h5></li>
            <li class="collection-item" id="debit"><h5>Debit Card</h5></li>
            <li class="collection-item" id="credit"><h5>Credit Card</h5></li>
        </ul>
    </div>
    <div class="col s12 m8 mt-5">
        <div class="container center-align">
            <form action="/customer/<%=currentUser.username%>/checkout/payment" method="POST">
                <div class="container" id="cash-container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" readonly name="payment[mode]" value="Cash">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <h6>Price</h6>
                            <input type="text" name="payment[price]" class="price" readonly id="cash-payment">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit">Pay</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/customer/<%=currentUser.username%>/checkout/payment" method="POST">
                <div class="container hide" id="debit-container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" readonly name="payment[mode]"  value="Debit Card">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="">Card Number</label>
                            <input type="text" required name="payment[cardNo]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for="">Expiry Date</label>
                            <input type="text" class="datepicker" required name="payment[cardExp]">
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="">CVV</label>
                            <input type="password" maxlength="3" name="payment[cardCvv]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="price">Price</label>
                            <input type="text" name="payment[price]" class="price" readonly id="debitCard-payment">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit">Pay</button>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/customer/<%=currentUser.username%>/checkout/payment" method="POST">
                <div class="container hide" id="credit-container">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" readonly name="payment[mode]"  value="Credit Card">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="">Card Number</label>
                            <input type="text" required name="payment[cardNo]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <label for="">Expiry Date</label>
                            <input type="text" class="datepicker" required name="payment[cardExp]">
                        </div>
                        <div class="input-field col s12 m6">
                            <label for="">CVV</label>
                            <input type="password" maxlength="3" name="payment[cardCvv]">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="price">Price</label>
                            <input type="text" name="payment[price]" class="price" readonly id="creditCard-payment">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit">Pay</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var priceTab = document.querySelectorAll(".price");
    var totalCheckoutPrice = 0;
    var priceInputCash = document.getElementById("cash-payment");
    var priceInputDebit = document.getElementById("debitCard-payment");
    var priceInputCredit = document.getElementById("creditCard-payment");
    var cashContainer = document.getElementById("cash-container");
    var debitContainer = document.getElementById("debit-container");
    var creditContainer = document.getElementById("credit-container");
    var cashTab = document.getElementById("cash");
    var creditTab = document.getElementById("credit");
    var debitTab = document.getElementById("debit");
    for(var i=0;i<priceTab.length;i++)
    {
        if(priceTab[i].innerHTML!== 'NaN')
        {
            totalCheckoutPrice+= Number(priceTab[i].innerHTML);
        }
    }
    priceInputCash.value = `$ ${totalCheckoutPrice}`;
    priceInputDebit.value = `$ ${totalCheckoutPrice}`;
    priceInputCredit.value = `$ ${totalCheckoutPrice}`;
    document.getElementById("price").innerHTML = `<strong>$${totalCheckoutPrice.toString()}</strong>`;
    cashTab.addEventListener("click",()=>{
        cashContainer.classList.remove("hide");
        debitContainer.classList.add("hide");
        creditContainer.classList.add("hide");
        cashTab.classList.add("active");
        creditTab.classList.remove("active");
        debitTab.classList.remove("active");
    });
    debitTab.addEventListener("click",()=>{
        cashContainer.classList.add("hide");
        debitContainer.classList.remove("hide");
        creditContainer.classList.add("hide");
        cashTab.classList.remove("active");
        creditTab.classList.remove("active");
        debitTab.classList.add("active");
    });
    creditTab.addEventListener("click",()=>{
        cashContainer.classList.add("hide");
        debitContainer.classList.add("hide");
        creditContainer.classList.remove("hide");
        cashTab.classList.remove("active");
        creditTab.classList.add("active");
        debitTab.classList.remove("active");
    });
    $(document).ready(function(){
    
    $('.datepicker').datepicker({format:String});
  });
</script>
<%-include("partials/footer.ejs")%>