<%-include("partials/header.ejs")%>
<div class="container my-4 center-align">
<h3>Edit Item</h3>
<form action="/seller/<%=username%>/<%=item._id%>?_method=PUT" class="my-4" method="POST">
  <div class="container">
    <div class="row">
        <div class="input-field col s12">
        <h6 class="left-align">Item Name</h6 class="left-align">
        <input type="text" name="item[name]" required placeholder="Item Name" value="<%=item.name%>">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Item Description</h6 class="left-align">
            <textarea name="item[description]" cols="20" rows="5" required class="materialize-textarea"><%=item.description%></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Image URL</h6 class="left-align">
            <input type="text" name="item[image]" value="<%=item.image%>" required>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Price</h6 class="left-align">
            <input type="number" name="item[price]" value="<%=item.price%>" required min="0.5" step="0.1">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Quantity</h6 class="left-align">
            <input type="number" min="1" step="1" value="<%=item.quantity%>" required name="item[quantity]">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Category</h6>
            <select name="item[category]">
            <option value="Electronics">Electronics</option>
            <option value="Clothing">Clothing</option>
            <option value="Groceries">Groceries</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <h6 class="left-align">Seller's Name</h6>
            <input type="text" readonly name="item[sellerName]" value="<%=username%>">
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <p>Go <a href="/seller/<%=username%>">Back</a></p>
        </div>
    </div>
  </div>
</form>
</div>
<script>
    $(document).ready(function(){
    M.textareaAutoResize($('#textarea1'));
    $('select').formSelect();
});
</script>
<%-include("partials/footer.ejs")%>