<%-include("partials/header.ejs")%>
<div class="container center-align"><h3 class="center-align">Past Orders for <%=currentUser.username%></h3></div>
<div class="container center-align">
    <%for(var i=0;i<items.length;i++){%>
        <div class="row">
            <div class="col m12">
                <%if(items[i].item){%>
                   <div class="container">
                    <div class="card hoverable">
                        <h5><%=items[i].item%></h5>
                        <div class="card-content">
                            <h6>Quantity: <%=items[i].quantity%></h6>
                            <h6>Price: $ <%=items[i].price%></h6>
                            <h6>Ordered On: <span id="date"><%=items[i].date%></span></h6>
                        </div>
                    </div>
                   </div>
                   <%}%>
            </div>
        </div>
    <%}%>
</div>
<%-include("partials/footer.ejs")%>